// Escopo global da página INICIAL
.escopo {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  padding-bottom: 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;

  button {
    background-color: transparent;
  }
}

// Seção cabeçalho
.secaoCabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a, button {
    height: 22px;
  }

  .tituloPagina {
    font-size: 16px;
  }

  .complementoCabecalho {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

// Seção conteúdo do perfil do jogador
.secaoPerfil {
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .imagemPerfil {
    display: flex;
    align-items: center;

    button {
      width: 50px;
      height: 50px;
      color: var(--cor-terciaria);
    }

    img {
      width: 170px;
    }
  }

  form {
    gap: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;

    fieldset {
      width: 260px;
      height: 60px;
      border: none;
      position: relative;
      border-radius: 10px;
      background-color: #FFF;
      overflow: hidden;

      input {
        width: 100%;
        height: 60px;
        border: none;
        padding: 0 30px;
        font-size: 17px;
      }

      span {
        right: 30px;
        top: calc(50% - 12.5px);
        position: absolute;
        font-family: "Poppins";
        font-size: 16px;
        user-select: none;
        pointer-events: none;
      }
    }

    .botaoSalvar {
      width: 175px;
      height: 50px;
      color: #FFF;
      border-radius: 25px;
      font-size: 15px;
      background-color: var(--cor-terciaria);
      box-shadow: var(--sombra-padrao);
    }
  }
}
