// Escopo global da página
.escopo {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  padding-top: 0;
  gap: 25px;
  display: flex;
  flex-direction: column;

  button {
    background-color: transparent;
  }
}

// Seção cabeçalho
.secaoCabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;

  a, button {
    height: 22px;
  }

  .tituloPagina {
    font-size: 16px;
  }

  .complementoCabecalho {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

// Seção onde mostra o resultado da partida em qual posição o jogador ficou
.secaoResultadoDaPartida {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .fraseResultadoDaPartida {
    width: 300px;
    height: 50px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    background-color: #FFF;
    font-size: 13px;

    .colocacaoDaPartida {
      color: var(--cor-terciaria);
    }
  }
}

// Seção que incentiva ao usuário compartilhar o resultado
.secaoCompartilharResultado {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .botaoCompartilharResultado {
    width: 140px;
    height: 40px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 13px;
    background-color: var(--cor-terciaria);
  }
}

// Seção com botões de controle de rota
.secaoBotoesDeAcao {
  gap: 10px;
  display: flex;
  width: 100%;
  padding-top: 50px;

  .botaoVoltarAoInicio, .botaoJogarNovamente {
    width: 100%;
    height: 50px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 13px;
  }

  .botaoVoltarAoInicio {
    background-color: #FFF;
  }

  .botaoJogarNovamente {
    color: #FFF;
    background-color: var(--cor-terciaria);
  }
}