// TAG Main
.escopo {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  gap: 50px;
  flex-direction: column;

  button {
    border: none;
    background-color: transparent;
  }
}

// Primeira seção
.secaoInformacoes {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Segunda seção
.secaoAvatar {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .imagemJogador {
    img {
      width: 200px;
    }
  }
}