// Escopo global da página INICIAL
.escopo {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  padding-bottom: 100px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;

  button {
    background-color: transparent;
    pointer-events: unset;
  }
}

// Seção com detalhes da aplicação
.secaoInformacoes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
  }
}

// Seção com informações do jogador
.secaoJogador {
  width: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50px);

  .imagemJogador {
    img {
      width: 150px;
    }
  }

  .identificadoresJogador {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: default;

    .nomeJogador {
      font-size: 22px;
    }

    .idJogador {
      font-family: "Inter";
      font-size: 12px;
      margin-top: -5px;
    }
  }

  .botaoIniciarPartida {
    background-color: var(--cor-terciaria);
    font-size: 15px;
    color: #FFF;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    box-shadow: var(--sombra-padrao);
  }
}

// Seção com guias auxiliares
.secaoGuias {
  display: flex;
  gap: 10px;
  justify-content: center;

  .botoesGuias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--cor-secundaria);
    width: 80px;
    height: 70px;
    border-radius: 20px;
    font-size: 12px;
  }
}