// Escopo global da página INICIAL
.escopo {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  button {
    background-color: transparent;
  }
}

// Seção cabeçalho
.secaoCabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  a, button {
    height: 22px;
  }

  .tituloPagina {
    font-size: 16px;
  }
}

// Seção com Pódio onde destaca os 3 melhores jogadore
.secaoPodio {
  gap: 5px;
  display: flex;
  width: 100vw;
  padding: 0 20px;

  // Cada jogador
  .top3 {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .posicao1 .conteudoColocacao {
    height: 200px !important;
  }

  .posicao2 .conteudoColocacao {
    height: 175px !important;
  }

  .posicao3 .conteudoColocacao {
    height: 150px !important;
  }
  
  // Dados do jogador
  .informacoesJogador {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .avatarJogador {
      width: 80px;
    }

    .nomeJogador {
      font-size: 20px;
      margin-top: 10px;
    }

    .idJogador {
      font-size: 10px;
      font-family: "Inter";
      transform: translateY(-5px);
    }
  }

  // Posição no Ranking
  .informacoesColocacao {
    width: 100%;
    height: 200pxpx;

    .conteudoColocacao {
      gap: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 200px;
      padding: 20px 0;
      border-radius: 10px;
      background: linear-gradient(to bottom, var(--cor-terciaria), transparent);

      .jogadorColocacao, .tempoColocacao {
        font-family: "Inter";
      }

      .jogadorColocacao {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        transform: rotateZ(45deg);
        background-color: #FFF;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 10%);
        
        .posicaoColocacao {
          font-size: 16px;
          font-family: "Inter";
          font-weight: 600;
          transform: rotateZ(-45deg);
        }
      }

      .tempoColocacao {
        font-weight: bold;
      }
    }
  }
}

// Lista com demais jogadores que acertaram todos os livros
.secaoListaDeJogadores {
  width: 100vw;
  height: 100%;
  padding: 25px;
  padding-bottom: 50px;
  background-color: #FFF;
  border-radius: 25px 25px 0 0;

  .listaDemaisColocados {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .jogadorColocado {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    border-radius: 20px;
    background-color: var(--cor-secundaria);
    justify-content: space-between;

    .posicaoColocado {
      font-size: 16px;
      font-weight: 600;
      font-family: "Poppins";
    }

    .avatarColocado {
      width: 50px;
    }

    .informacoesJogadorColocado {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80px;

      .nomeJogadorColocado {
        font-size: 16px;
      }

      .idJogadorColocado {
        font-size: 10px;
        font-family: "Inter";
        transform: translateY(-5px);
      }
    }

    .tempoColocado {
      font-size: 16px;
      font-family: "Poppins";
      font-weight: 600;
    }
  }
}